* {
	padding: 0;
	margin: 0;
}


body.dark {
	background-color: #434845;
}

body.dark .main {
	background-color: #393a39;
}

body.dark .login {
	background-color: #393a39;
}

body.dark .name {
	color: #acb8ca;
}

body.dark .time {
	color: #acb8ca;
}

body.dark h1.title {
	color: #dcdcdc;
}

body.dark p.point_desc {
	color: #dcdcdc	;
}

body.dark .header.bg-secondary {
	background-color: #3d4348 !important;
}

body.dark .col-form-label {
	color: #ffffff;
}

body.dark .display-4.text-center {
	color: #ffffff;
}