body {
	background: #b3e3c0;
	transition: 0.3s;
}

h1.title {
	color: #212529;
}

h2 {
	margin-bottom: 0;
}

section {
	margin-bottom: 20px;
	border-radius: 10%;
}

main.container {
	margin-bottom: 300px;
}

main > .row {
	margin: 80px 0;
}

.theme-toggler {
	visibility: visible;
	color: white;
	transition: 0.3s;
}

.theme-toggler.active {
	color: rgba(255,255,255,.5);
}

.mob_toggler {
	display: none;
}

.header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: 0.3s;
}

.title {
    padding: 10px 0px;
}

.title.subj {
	color: #dcdcdc;
	font-size: 1.8rem;
}

.main {
	background: white;
	transition: 0.3s;
}

.pad_b_10 {
	padding-bottom: 10px;
}

.point {
	margin: 0 10px;
    border-top: 1px solid #939e96;
    padding: 0.7rem 0;
}

.point:nth-child(1) {
	border-top: none;
}

.point_desc {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	font-weight: 500;
	font-style: italic;
    margin-left: 20px;
    vertical-align: middle;
    font-size: 1.1rem;
    color: #75715d;

}

p.point_desc {
	color: #212529;
}

p.nav-link{
	margin-bottom: 0;
}

.point_title {
	display: inline-block;
	vertical-align: middle;
}

.time {
	font-size: 0.7rem;
}

.name {
	font-size: 1.4rem;
	margin-bottom: 0;
}

.login {
	background-color: #ffffff;
	padding: 15px;
	border-radius: 20px;
}

.login h1 {
	margin-bottom: 50px;
}

.form-group {
	margin: 1rem 0;
}

.round {
	border-radius: 20px;
}

.round_bottom {
	border-radius: 0 0 20px 20px;	
}

.round_top {
	border-radius: 20px 20px 0 0;
}

.form-control {
	margin-bottom: 10px;
}

.danger {
	color: #dc3545 !important;
}

.display-4 {
	font-size: 2.5rem;
}

.underline {
	border-top: 1px solid grey;
	padding-top: 20px;
}

.underline:nth-child(1) {
	border-top: none;
}

.col-form-label, .display-4.text-center, .name, .login, .time, .point_title {
	transition: 0.3s;
}


@media screen and (max-width: 991px) {
	.theme-toggler {
		visibility: hidden;
		display: none;
	}

	.mob_toggler {
		display: block;
	}
}